html, body {
    height: 100%;
    margin: 0;
    background-color: black;
}

.welcomeText {
    z-index: 10;
    color: white;
    position: absolute;
    margin-left: 50%;
    margin-top: 25%;
}


.blur {
    position: absolute;
    background: rgba(255, 0, 0, 0.828);
    color: #fff;
    z-index: 100;
    
}

.blur + video {
    --webkit-filter: blur(30px);
}

.backgroundMedia {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 120%;
    background-position: center;
}


